body{
    background-image: url(../img/fundo2.png);
    margin: 25px auto;
    max-width: 900px;
}
p{
    text-align: justify;
}
#fundo{
    background-image: url(../img/fundo.png);
}
.right {
    float: right;
    display: block;
}
.left {
    float: left;
    display: block;
}
.center{
    text-align: center;
    display: block;
}
#capa{
    text-align: center;
    max-width: 600px;
    max-height: 400px;
}

/* TABELA USUARIOS */
table, th, td {
    border: 1px solid black;
  }
table{
    margin: auto;
}
td,th{
    padding: 0px 15px;
}