<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block header %}

    {% endblock %}
</head>
<body {% block id %}{%endblock %}>
    <a href="/"><img src="../static/img/logo.png" alt="Logo"></a>
    <div class="right">
        <a href="/">Home</a> |
        <a href="/quemsomos">Quem somos</a> |
        <a href="/contato">Contato</a>|
        <a href="/users">Lista</a>
    </div>
    <hr>
    {% block conteudo %}

    {% endblock %}
</body>
</html>