<!DOCTYPE html>
<html lang="en">
<head>
    {% block header %}
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='../css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../css/styles.css')}}">
    {% endblock %}
</head>
<body>
    <img src="../static/img/logo.png" alt="Logo">
    <div class="right">
        <a href="/">Home</a> |
        <a href="/quemsomos">Quem somos</a> |
        <a href="/contato">Contato</a>
    </div>

    {% block conteudo %}

    {% endblock %}
</body>
</html>