<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body id="bg">
    {% extends 'base.html' %}

    {% block conteudo %}
    <div id="capa">
    <img src="../static/img/capa.png" alt="Capa">
    </div>
    <div>
    <h2>Sobre a universidade</h2>
    <p>Lorem, <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Doloribus sit illo, vel excepturi ratione atque nulla libero nisi. Doloremque sequi labore dicta esse delectus. Corrupti perferendis minus iste hic ipsa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat ipsa odio dignissimos quaerat minus sunt suscipit quasi soluta eveniet accusantium minima eos, eius exercitationem rerum voluptate libero? Facilis, ea?</p>
    <p>Lorem <b>ipsum, dolor</b> sit amet consectetur adipisicing elit. Laboriosam perspiciatis aliquid quas, voluptatibus rem laborum vero fuga. Praesentium, magni nihil maxime quis, est maiores amet eum voluptas cumque, vitae facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum omnis numquam natus hic molestiae nulla in, excepturi nobis officia repellat doloribus quidem vitae atque perferendis cum aspernatur libero ut ab!</p>
    <p class="center"><b>Todos os direitos reservados</b></p>
    </div>
    {% endblock %}
</body>
</html>